@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&display=swap');

/* font-family: 'DM Sans', sans-serif; */
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro?styles=82967,82965,82963,82959');

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  position: relative;
  padding: 0;
  overflow-y: hidden;
  background-color: #efeae3;
  cursor: none;
  /* Cursor styles */
	--cursor-fill: #ed675f;
	--cursor-stroke-width: 1px;
}

h2 {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-weight: 400;
  margin-bottom: 0px;
}

button {
  cursor: none;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  padding: 1.3em 3em;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  max-height: 85px;
  align-items: center;
  overflow: hidden;
}

.button--nav {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5em 1.5em;
  border: 1px solid #ed675f;
  background: #ed675f00;
  /* border: none; */
  color: #ed675f;
  border-radius: 25px;
  position: relative;
  z-index: 3;
  transition: color 0.2s ease;
}
.button--nav:hover {
  background: #ed675f00;
  border: 1px solid #ed675f00;
  color: #efeae3;
}

.logo {
  width: 11em;
}

.section {
  height: 100vh;
  display: flex;
  padding: 0 3em;
}

.first--section {
  align-items: center;
  justify-content: flex-end;
}

.first--section h1 {
  font-size: 7em;
  text-align: right;
  line-height: 0.95em;
  width: 50%;
  color: #0d0e0f;
  font-weight: 600;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  letter-spacing: -4.8px;
  text-transform: uppercase;
  margin-top: 0;
}

/* .custom--bg {
  width: 100%;
  height: 9em;
  transform: skew(16deg) rotate(16deg);
  background: #ed675f;
  position: absolute;
  left: 0;
  z-index: -1;
  top: -21%;
} */

.custom--bg-2 {
  width: 100%;
  height: 400px;
  transform: skew(16deg) rotate(16deg);
  background: linear-gradient(270deg, rgba(233,73,59,0.85) 48%, rgba(246,103,112,0) 100%);
  position: absolute;
  left: 0;
  z-index: -1;
  top: 30%;
}

section.third--section {
  display: flex;
  flex-direction: column;
}

.container-options {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
    margin-top: 5em;
}

.exit-button {
  font-size: 17px; 
  bottom: 5%;
  position: fixed !important;
  visibility: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.loader {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  flex-direction: column;
  font-size: 2em;
  font-weight: 500;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  background-color: #0d0e0f;
  z-index: 99;
}

.loader p {
  margin-bottom: 2em;
}

.progress {
  height: 15px;
  /* transform: scaleX(0); */
  background: #ed675f;
  width: 0%;
  transition: width 1s ease;
}

.center-section {
  width: 50%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
.third--section {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 5%;
}

.third--section .center-section {
  width: 35%;
}

.third--section .custom--bg-2 {
  transform: skew(313deg) rotate(347deg);
}

.center-section p {
  font-size: 3rem;
  line-height: 130%;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-weight: 500;
  margin-bottom: 0;
}
.cursor {
	display: none;
}
@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		opacity: 0;
    z-index: 2;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
	}
}
footer {
  background-color: #1d1d1d;
  padding: 5em 3em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #efeae3;
  /* margin-top: 5em; */
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}


.related-links {
  display: flex;
  margin-top: 4em;
  justify-content: flex-end;
  align-items: end;
  width: 100%;
}

.related-links button:hover {
  text-decoration: underline;
}

.related-links button {
  background: none;
  border: none;
  color: #efeae3;
  z-index: 1;
  position: relative;
}

.related-links button a {
  color: #efeae3;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

footer img {
  margin-bottom: 1em;
}

button.menu-bar .icon-menu {
  width: 40px;
  height: 3px;
  background-color: #ed675f;
  /* transition: background-color 0.2s ease; */
  transition: all .5s ease;
}

.menu-bar {
  cursor: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border: none;
  background: none;
  z-index: 3;
  width: 70px;
  height: 70px;
}

.menu-bar:hover div {
  background: white;
}

button.menu-bar .icon-menu:nth-of-type(1) {
  margin-bottom: 8px;
}
.menu-bar.active .icon-menu {
  background-color: #0d0e0f;
}
.menu-bar.active .icon-menu:nth-of-type(1) {
  transform: rotate(45deg);
  margin-bottom: 0;
  transform-origin: 45%;
}

.menu-bar.active .icon-menu:nth-of-type(2) {
  transform: rotate(-45deg);
  transform-origin: 45%;
}

body:before {
  content: '';
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: #0000007d;
  position: absolute;
  z-index: 1;
  transition: all .5s ease;
}

.overlay:before {
  content: '';
  opacity: 1;
  pointer-events: all;
}

.menu-drawer {
  height: 100vh;
  width: 40%;
  z-index: 1;
  position: fixed;
  background: #efeae3;
  top: 0;
  right: -40%;
  transition: right .5s ease;
}

.menu-drawer.active {
  right: 0%;
  transition: right .8s ease;
}

.menu-drawer .anim-btn {
  transform: translate(0px, -100px);
  opacity: 0;
}
.menu-drawer.active ul {
  opacity: 1;
}
.menu-drawer ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 10em 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.menu-drawer button:hover {
  color: #ed675f;
  background-color: none !important;
}
.menu-drawer button {
  text-transform: none;
  font-size: 3em;
  font-weight: 300;
  z-index: 90;
  padding: 0;
  border: none !important;
}
.menu-drawer li:nth-of-type(1) button {
  color: #0d0e0f;
}

.menu-drawer .anim-btn button {
  color: #cfcbc5;
  transition: color .2 ease;
}
.menu-drawer .anim-btn button:hover {
  color: #0d0e0f;
}


@media(max-width: 776px) {
  body { 
    overflow-x: hidden;
    position: relative;
    /* height: 100%; */
  }
  footer {
    position: relative;
    z-index:2;
  }
  .first--section h1 {
    font-size: 45px;
    line-height: 46px;
    letter-spacing: initial;
    width: 100%;
    text-align: right;
    margin-bottom: 0px;
    margin-bottom: 0.5em;
  }
  
  .first--section {
    justify-content: flex-end;
    align-items: flex-end;
    /* padding-bottom: 25%; */
  }
  
  .section {
      padding: 0 1em;
  }
  .menu-bar:hover div {
    background-color: #ed675f;
  }
  .center-section p {
    font-size: 1em;
    line-height: 1.5em;
  }

  h2 {
      font-size: 0.9em;
      font-weight: 600;
  }

  .container-options {
    justify-content: center;
    margin-top: 3em;
  }

  .container-options .customize-btn {
      font-size: 13px;
      color: white;
      border-color: white;
      padding: 0.5em 1.2em;
  }
 
  .center-section {
    width: 80%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 30%;
  }
  
  .third--section .center-section {
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 1em;
  }

  .third--section {
    justify-content: flex-start;
}
  
  nav {
    padding: 0.5em 1em;
  }

  .custom--bg-2 {
    width: 200%;
    height: 400px;
    left: -20%;
    top: 20%;
  }
  svg {
    width: 150px !important;
    height: 150px !important;
  }
  .menu-drawer.active {
    right: 0%;
  }
  .menu-drawer {
    width: 100%;
    z-index: 1;
    right: -100%;
  }
  .menu-drawer ul {
    padding: 7em 3em;
  }
  .menu-drawer button {
    font-size: 2.5em;
  }
  .third--section h2, .third--section p {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .third--section .custom--bg-2 {
    transform: skew(0deg) rotate(0deg);
    top: 0;
    background: linear-gradient(180deg, rgba(233,73,59,0.85) 75%, rgba(246,103,112,0) 100%);
    /* background: linear-gradient(360deg, rgba(233,73,59,0.85) 48%, rgba(246,103,112,0) 100%); */
    /* background: #ed675f; */
  }
}